*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; now 1 rem is 10px, so all our px vals can just be divided by 10 when refactoring to rem */
  // This defines what one rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
